---
import { Image } from "astro:assets"
import Makha from "../../assets/home/whereToGo/hajj.jpg"
import ShahiQilla from "../../assets/home/whereToGo/shahiqilla.jpg"
import Inside from "../../assets/home/whereToGo/inside.jpg"
---

     <a href="/hajj" class="group overflow-hidden relative grid grid-cols-2 gap-10 rounded-2xl bg-white border w-full p-5">
      
      <Image src={Makha} alt="Hajj" class="w-full h-full rounded-xl object-cover" />
            <div class="flex flex-col gap-5 justify-center">
             <h3 class="text-3xl font-bold text-brandColor">Hajj Umrah</h3>
             <p>Lorem iminus asperiores quo quod dignissimos delectus iusto corporis non harum ut labore rerum blanditiis impedit, fugit, sit vel. Saepe autem reiciendis itaque doloremque aperiam porro officiis, excepturi quos sint veniam, ratione exercitationem nemo iusto temporibus quasi vero odio eum deserunt consequatur rerum accusamus perspiciatis quas ipsum. Ducimus cum alias eveniet eos labore iusto, nisi aliquam quibusdam dicta sequi minima, accusantium numquam reprehenderit, illo expedita recusandae rerum quaerat dignissimos? Consequuntur, at?</p>
            </div>
        
        <div class="absolute transition-all blur-md  duration-300 bg-black/50 w-full h-full left-full top-full group-hover:top-0 group-hover:left-0"></div>
     </a>
