---
import { Image } from "astro:assets"
import Services from "../home/Services"
---
<div class="flex flex-col gap-10 justify-center items-center w-full">
<h2 class="text-4xl font-bold text-brandColor text-center">Tourism Permotion</h2>
<Services client:load/>
</div>