---
import A from "../components/header/A"
import Input from "../components/comman/input.tsx"
---
<div class="w-screen py-8 flex flex-col gap-8 bg-brandColor text-white ">
<div class="flex max-sm:flex-col gap-8 justify-between w-full max-w-screen-xl px-8 sm:px-10">
    <p>Logo</p>
    <div class="flex max-sm:flex-col gap-8">
    <div class="flex flex-col gap-2">
       <p class=" font-bold text-xl">dfdf</p> 
      <a href="" class=" hover:underline  text-lg">dfdf</a>  
      <a href="" class=" hover:underline  text-lg">dfdf</a>  
      <a href="" class=" hover:underline  text-lg">dfdf</a>    
    </div>
    <div class="flex flex-col gap-2">
       <p class=" font-bold text-xl">Services</p> 
      <a href="" class=" hover:underline  text-lg">dfdf</a>  
      <a href="" class=" hover:underline  text-lg">dfdf</a>  
      <a href="" class=" hover:underline  text-lg">dfdf</a>    
    </div>
</div>
</div>
<p class="text-center text-white">coputdfkjdfkjds</p>
</div>